:root {
  --main-color: #b11;
}



body {
    background-color: #F8F8F8;
}

header, footer {
    box-shadow: 0 0 10px darkgray;
    padding: 1% 2%;
    background-color: white;
}

code {
    color: var(--main-color);
}

header {
    border-bottom: 2px solid var(--main-color);
}

footer {
    border-top: 2px solid var(--main-color);
    text-align: center;
    color: gray;
    font-style: italic;
}
main {
    margin: 1% 2%;*
    padding: 0;
}

#results p {
    font-family : monospace;
}
