<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nebula</title>
    <link href="{{ url_for('static', filename='css/knacss.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <style>
        code, var {
            font-family: monospace;
        }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
<body>
<header>
    <h1>Nebula - Middleware for multi-cloud queries</h1>
</header>
<main>
    <div class="grid-3">
        <div>
            <h2>API</h2>
            <ul>
                <li><a href="/"><code>/</code></a> - This page
                <li><a href="cost_model_history"><code>/cost_model_history</code></a> - Gets ML cost model prediction
                    history
                <li><a href="schema"><code>/schema</code></a> - Relational schema
                <li><a href="backup_cost_model"><code>/backup_cost_model</code></a> - Returns file made by pickle
                    containing a backup of the cost model.
            </ul>
        </div>
        <div>
            <h3>Quotation</h3>
            <p>POST query to <a href="/estimate"><code>/estimate</code></a></p>

            <form action="/estimate" id="estimate" method="POST">
                <p><code>query</code> <input type="text" name="query"/></p>
                <p><code>query_name</code> <input type="text" name="query_name"/></p>
                <p><code>cost_model</code>
                    <select name="cost_model">
                        <option value="vanilla">vanilla</option>
                        <option value="stacked_postprocessed">stacked_postprocessed</option>
                        <option value="literature">literature</option>
                        <option value="stacked">stacked</option>
                    </select></p>
                <p><code>exploration_strategy</code>
                    <select name="exploration_strategy">
                        <option value="exhaustive">exhaustive</option>
                        <option value="randomised">randomised</option>
                    </select></p>
                <p><code>nb_iterations</code> <input type="number" name="nb_iterations" min="1" value="1"/></p>
                <p><code>max_size_hypergraph</code> <input type="number" name="max_size_hypergraph" min="1" value="100"/></p>
                <p><code>max_depth</code> <input type="number" name="max_depth" min="1" value="15"/></p>
                <div>
                    <input type="checkbox" id="no_history" name="no_history">
                    <label for="no_history"><code>no_history</code></label>
                </div>
                <div>
                    <input type="checkbox" id="disable_cost_model" name="disable_cost_model">
                    <label for="disable_cost_model"><code>disable_cost_model</code></label>
                </div>
                <p><input type="submit" value="submit"/></p>
            </form>
        </div>
        <div>
            <h3>Execution</h3>
            <p>POST query to <a href="/execute"><code>/execute</code></a></p>

            <form action="/execute" method="POST" id="execute">
                <p><code>query_name</code> <input type="text" name="query_name" /></p>
                <p><code>method</code>
                    <select name="method">
                        <option value="static">static</option>
                        <option value="dynamic">dynamic</option>
                        <option value="static_randomised">static_randomised</option>
                    </select></p>
                <p><code>quotation_name</code> <input name="quotation_name" type="text"/></p>
                <div>
                    <input type="checkbox" id="disable_cost_model" name="disable_cost_model">
                    <label for="disable_cost_model"><code>disable_cost_model</code></label>
                </div>
                <p><input type="submit" value="submit" /></p>
            </form>
        </div>
    </div>

    <div class="grid-3">
        <div>
            <h2>Sources</h2>
            <ul>
                {% for p in PROVIDERS %}
                <li>Database <strong>{{ p.dbname }}</strong> from <strong>{{ p.name }} ({{ p.id }})</strong> at <a
                        href="http://{{ p.url }}:{{ p.port }}/"><code>http://{{ p.url }}:{{ p.port }}/</code></a></li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h2>Schema</h2>
            <iframe src="/schema" title="Relational Schema"></iframe>
        </div>
        <div>
            <h3>Load a backed-up cost model</h3>
            <p>POST query to <a href="/load_cost_model"><code>/load_cost_model</code></a></p>

            <form action="/load_cost_model" enctype="multipart/form-data" id="load_cost_model" method="POST">
                <p><code>file</code> <input name="file" type="file"/></p>
                <p><input type="submit" value="submit"/></p>
            </form>
        </div>
    </div>
</main>
<footer>
    <p>Part of the <a href="https://framagit.org/DWojtowicz/nebula">Nebula</a> multi-cloud querying middleware</p>
    <p><strong>Commit {{COMMIT_NB}}:</strong> <em>{{ COMMIT_MSG }}</em></p>
</footer>
</body>
</html>