<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ PROV_NAME }} / {{ DB_NAME }} - Nebula Provider</title>
    <link href="{{ url_for('static', filename='css/knacss.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <style>
        code, var {
            font-family: monospace;
        }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
<body>
<header>
    <h1><code>{{ DB_NAME }}</code> from <code>{{ PROV_NAME }}</code> - Nebula Provider</code></h1>
</header>
<main>
    <div class="grid-3">
        <div>
            <h2>API</h2>
            <ul>
                <li><a href="/"><code>/</code></a> - This page
                <li><a href="schema"><code>/schema</code></a> - Relational schema
                <li><a href="pricing"><code>/pricing</code></a> - Fares
                <li><a href="object_size"><code>/object_size</code></a> - Object size
            </ul>
        </div>
        <div>
            <h3>Estimate</h3>
            <p>POST query to <a href="/estimate"><code>/estimate</code></a></p>

            <form action = "/estimate" method = "POST" id="estimate">
                <p><code>query</code> <input type="text" name="query" /></p>
                <p><code>query_name</code> <input name="query_name" type="text"/></p>
                 <p><input type="submit" value="submit" /></p>
            </form>
        </div>
        <div>
            <h3>Execute</h3>
            <p>POST query to <a href="/execute"><code>/execute</code></a></p>

            <form action="/execute" method="POST" id="execute">
                <p><code>query</code> <input type="text" name="query"/></p>
                <p><code>query_name</code> <input name="query_name" type="text"/></p>
                <p><code>substitute_name</code> <input name="substitute_name" type="text"/></p>
                <p><code>mode</code></p>
                <input type="radio" name="mode" value="export" id="mode_export">
                <label for="mode_export"><code>export</code> (Not recommended)</label><br>
                <input type="radio" name="mode" value="storage"  id="mode_storage" checked="checked">
                <label for="mode_storage"><code>storage</code></label><br>

                 <p><input type="submit" value="submit" /></p>
            </form>
        </div>
    </div>

    <div class="grid-3">
        <div>
            <h2>Faires</h2>

            <table>
                {% for k, v in FAIRES.items() %}
                <tr>
                    <td><p><em>{{ k }}</em> : {{ v }}</p></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div>
            <h2>Schema</h2>
            <iframe src="/schema" title="Relational Schema"></iframe>
        </div>
        <div>
            <h3>Object size</h3>
            <p>POST query to <a href="/object_size"><code>/object_size</code></a></p>

            <form action="/object_size" id="object_size" method="POST">
                <p><code>object_name</code> <input name="object_name" type="text"/></p>
                <p><input type="submit" value="submit"/></p>
            </form>
        </div>
    </div>
    <div class="grid-3">
        <div>
            <h3>Dump table</h3>
            <p>POST query to <a href="/dump_table"><code>/dump_table</code></a></p>

            <form action="/dump_table" id="dump_table" method="POST">
                <p><code>table_name</code> <input name="table_name" type="text"/></p>
                <p><input type="submit" value="submit"/></p>
            </form>
        </div>
        <div>
            <h3>Load table</h3>
            <p>POST query to <a href="/load_table"><code>/load_table</code></a></p>

            <form action="/load_table" id="load_table" method="POST">
                <p><code>table_name</code> <input name="table_name" type="text"/></p>
                <p><code>origin_provider_name</code> <input name="origin_provider_name" type="text"/></p>
                <p><code>origin_provider_url</code> <input name="origin_provider_url" type="text"/></p>
                <p><code>origin_provider_port</code> <input name="origin_provider_port" type="text"/></p>
                <p><input type="submit" value="submit"/></p>
            </form>
        </div>
        <div>
            <h3>Delete table file</h3>
            <p>POST query to <a href="/delete_table_file"><code>/delete_table_file</code></a></p>

            <form action="/delete_table_file" id="delete_table_file" method="POST">
                <p><code>table_name</code> <input name="table_name" type="text"/></p>
                <p><input type="submit" value="submit"/></p>
            </form>
        </div>
    </div>
    <div class="grid-3">
        <div>
            <h3>Tables to download</h3>
            <ul>
                {% for name, url in FILES.items() %}
                <li><a href="{{ url }}">{{ name }}</a>
                {% endfor %}
            </ul>
        </div>
        <div></div>
        <div></div>
    </div>
</main>
<footer>
    <p>Part of the <a href="https://framagit.org/DWojtowicz/nebula">Nebula</a> multi-cloud querying middleware</p>
    <p><strong>Commit {{ COMMIT_NB }}:</strong> <em>{{ COMMIT_MSG }}</em></p>
</footer>
</body>
</html>